

.profile-info{
    color:white;
    font-size: 35px;
    left:50%;
    top:75px;
    position: absolute;
    transform: translate(-50%);
    z-index:1;
    height: 130px;
    display: flex;
    align-items: center;
    justify-items: center;
    align-items: center;
    justify-content: center;
    width:430px;
    text-align:center;
    font-family: "Old Standard TT", serif !important;
    text-shadow: 2px 2px 3px #080808;
  }

  @media (max-width:992px){
    .profile-info{
      top: 42px;
    }
  }

  @media (max-width:440px){
   .profile-info{
     width:310px;
     font-size: 45px !important;
   }
   
  }
  
  .info-body {
      position:absolute;    
      left: 50%; 
      top: 200px;
      height:auto;
      padding-bottom: 30px; 
      width:100%;
      overflow:hidden;
      transform: translate(-50%);
      z-index:1;
      
    }

    @media (max-width:992px){
      .info-body {
        top: 150px;
      }

    }

    .info-body-top{
        padding:40px 30px;
        width:calc(100% - 80px);  
        box-sizing: border-box;
        max-width: 1200px;    
      margin-left:auto;
      margin-right:auto;
      margin-top:10px;
      background: #fff;    
      padding-bottom: 100px; 
      border-top-left-radius:20px; 
      border-top-right-radius:20px; 
      min-height:700px;
      box-shadow: 1px 1px 7px 4px rgba(0,0,0,0.20);
      -webkit-box-shadow: 1px 1px 7px 4px rgba(0,0,0,0.20);
      -moz-box-shadow: 1px 1px 7px 4px rgba(0,0,0,0.20);
      display: flex;
      align-items: center;
      flex-direction: column;

      background-image: url("leafbg4.jpeg");
      background-size: 25% auto;
    }

    @media (max-width:576px){
      .info-body-top{
        padding:40px 0px;
      }
    }

    @media (min-width:1000px){
      .info-body-top{
        background-size: 25% auto;
      }
    }

    @media (max-width:1000px){
      .info-body-top{
        background-size: 30% auto;
      }
    }

    @media (max-width:800px){
      .info-body-top{
        background-size: 38% auto;
      }
    }

    @media (max-width:490px){
      .info-body-top{
        background-size: 60% auto;
      }
    }
  
    @media (max-width: 992px ){
      .info-body-top{
      width:100%;  
      }
      
    }
  
    @keyframes enterehitebg {
      from {opacity: 0;}
      to {opacity: 1;}
    }
  
  .enter-white-bg{
      animation-name: enterehitebg;
      animation-duration: .5s;
  }
  
  
  